# Copyright (c) 2020, 2022 Oracle and/or its affiliates.
#
#  Licensed under the Universal Permissive License v 1.0 as shown at
#  https://oss.oracle.com/licenses/upl.

# ---------------------------------------------------------------------------
# Coherence Eclipse Plugin GitHub Actions CI build.
# ---------------------------------------------------------------------------

name: Java CI Snapshots

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    # Every day at midnight
    - cron: '0 0 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        branch:
          - main

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Set up JDK 8 for Build
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Print Versions
      run: mvn -version && ant -version

    - name: Build Using Default Version (20.12)
      shell: bash
      run: |
        mvn --file pom.xml --batch-mode -e -DskipTests clean install
        cp coherence.eclipse.plugin.tests/build.properties coherence.eclipse.plugin.tests/build.properties.orig

    - name: Set up JDK 11 for Coherence Build
      uses: actions/setup-java@v1
      with:
        java-version: '11'

    - name: Build Coherence Snapshot
      shell: bash
      env:
        COH_BRANCH: ${{ matrix.branch }}
      run: |
        # Checkout the git repo for coherence snapshot and build
        DIR=`pwd`
        CLONE_DIR=coherence-$COH_BRANCH
        cd /tmp
        git clone https://github.com/oracle/coherence.git $CLONE_DIR
        cd $CLONE_DIR
        if [ $COH_BRANCH != "main" ] ; then
           git checkout $COH_BRANCH
           mvn --file prj/pom.xml --batch-mode -e -DskipTests clean install
        else
           # main requires updated 2 step build for coherence.jar and everything else
           mvn --file prj/pom.xml --batch-mode -e -DskipTests clean install
           mvn --file prj/pom.xml --batch-mode -e -P-coherence,modules -nsu -DskipTests clean install
        fi
        cd $DIR

    - name: Cache Maven packages
      uses: actions/cache@v1
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Verify
      shell: bash
      env:
        COH_BRANCH: ${{ matrix.branch }} 
      run: |
        CLONE_DIR=coherence-$COH_BRANCH
        COH_VERSION=`cat /tmp/${CLONE_DIR}/prj/coherence-bom/pom.xml | grep '<revision>' | sed -e 's,^.*<revision>,,' -e 's,</revision>.*$,,'`
        
        echo "Running verify against $COH_VERSION"
        echo "Update build.properties to $COH_VERSION"
        cat coherence.eclipse.plugin.tests/build.properties.orig | sed 's/20\.12/'$COH_VERSION'/' > coherence.eclipse.plugin.tests/build.properties
        echo "Using the following build.properties"
        echo '==================='
        cat coherence.eclipse.plugin.tests/build.properties
        echo '==================='
        mvn --file pom.xml --batch-mode -e -Dtycho.testArgLine="-Dcoherence.version=$COH_VERSION" -Dcoherence.version=$COH_VERSION verify
         
        echo "Removing Coherence cloned directory"
        CLONE_DIR=coherence-$COH_BRANCH
        rm -rf /tmp/${CLONE_DIR}

    - name: Build Artifacts test logs
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: test-output
        path: coherence.eclipse.plugin.tests/**/target/surefire-reports/**/*

    - name: Coherence Eclipse Plugin ZIP
      uses: actions/upload-artifact@v2
      with:
        name: coherence-eclipse-plugin
        path: ./coherence.eclipse.plugin.repository/target/coherence-eclipse-plugin-repository-*.zip
