# Copyright (c) 2020, 2024 Oracle and/or its affiliates.
#
#  Licensed under the Universal Permissive License v 1.0 as shown at
#  https://oss.oracle.com/licenses/upl.

# ---------------------------------------------------------------------------
# Coherence Eclipse Plugin GitHub Actions CI build.
# ---------------------------------------------------------------------------

name: Java CI

on:
  push:
    branches:
    - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        version:
          - 24.09
          - 24.09.1-SNAPSHOT
          - 22.06.11-SNAPSHOT
          - 22.06.10

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up JDK  for Build
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'zulu'


    - name: Print Versions
      run: mvn -version && ant -version

    - name: Cache Maven packages
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Build Using Default Version (22.09)
      shell: bash
      run: |
        mvn --file pom.xml --batch-mode -e -DskipTests clean install
        cp coherence.eclipse.plugin.tests/build.properties coherence.eclipse.plugin.tests/build.properties.orig

    - name: Verify
      shell: bash
      env:
        COH_VERSION: ${{ matrix.version }}
      run: |
        echo "Running verify against $COH_VERSION"
        echo "Update build.properties to $COH_VERSION"
        cat coherence.eclipse.plugin.tests/build.properties.orig | sed 's/22\.09/'$COH_VERSION'/' > coherence.eclipse.plugin.tests/build.properties
        echo "Using the following build.properties"
        echo '==================='
        cat coherence.eclipse.plugin.tests/build.properties
        echo '==================='
        mvn --file pom.xml --batch-mode -e -Dtycho.testArgLine="-Dcoherence.version=$COH_VERSION" -Dcoherence.version=$COH_VERSION verify

    - name: Build Artifacts test logs
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: test-output-${{ matrix.version }}
        path: coherence.eclipse.plugin.tests/**/target/surefire-reports/**/*

    - name: Coherence Eclipse Plugin ZIP
      uses: actions/upload-artifact@v4
      with:
        name: coherence-eclipse-plugin-${{ matrix.version }}
        path: ./coherence.eclipse.plugin.repository/target/coherence-eclipse-plugin-repository-*.zip
